@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
    font-family: 'DM Sans';
    margin: 0;
}

.Navbar{
    height: 50px;
    width: 100%;
    background: black;
}