<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>DBUsersApp</title>
</head>
<body>
    <header class="Navbar">

    </header>
    {% block container %}
    {% endblock %}
</body>
</html>