{% extends 'base.html' %}
{% block container %}
    <h1>Register</h1>
    <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username() }} <br>
    {{ form.email.label }} {{ form.email() }} <br>
    {{ form.password.label }} {{ form.password() }} <br>
    {{ form.confirm_password.label }} {{ form.confirm_password() }} <br>
    {{ form.submit() }}
    </form>
{% endblock %}